
/*=============================================
=            Variables            =
=============================================*/
$green: #76b445;
$green2: #4c742d;
$orange: #f0b01d;
$gray: #403f3f;


/*=====  End of Variables  ======*/

  /* -- Custom Media queries */
  @custom-media --tablet (min-width: 500px);
  /*@custom-media --tablet (max-width: 650px);*/
  @custom-media --desktop (min-width: 800px);
  @custom-media --huge (min-width: 1200px);
  @custom-media --retina (-webkit-min-device-pixel-ratio: 2);
