

/*=============================================
=            GENERAL SETTINGS            =
=============================================*/


/*----------  Importing CSS  ----------*/
@import "_normalize.css";
@import "_variables.css";



/*=====  End of GENERAL SETTINGS  ======*/


/*=============================================
=            GLOBAL STYLES            =
=============================================*/

body{
    font-family: "Mukta" !important;
    font-family: 16px !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #403f3f;
}

a{
    color: $green;
    text-decoration: none;
    font-weight: 600;

    &:hover{
        color: $orange;
    }
}
#breadcrumb{
  font-size: 14px;
  font-family: "Lato";
}
.btn{
  border-radius: 4px;
  background-color: rgb(240, 176, 29);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  color: white;
  padding: 10px 15px;
  font-size: 16px;

  &:hover{
    color: white;
  }

  &--border{
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
  }

  &--green{
    color: $green;

    &:hover{
      color: white;
      background-color: $green;
    }
  }

  &--yellow{
    color: $orange;
    &:hover{
      color: white;
      background-color: $orange;
    }
  }

  &--red{
    background-color: #ed1c24 !important;
  }

}
.green{
  background-color: $green;
}
.green2{
  background-color: $green2;
}
.orange{
  background-color: $orange;
}

form[role="search"] > div{
  position: relative;
}

form[role="search"] input[type="text"]{
    border-width: 2px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 8px 80px 8px 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

form[role="search"] input[type="submit"]{
  background-color: $green;
  color: white;
  display: inline-block;
  border:0;
  padding: 8px 10px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
}

.center{
  &__text{
    text-align: center;
  }
}

.color{
  &__green{
    color: $green;
  }
}

.prevnuhav{
  position: absolute;
  cursor: pointer;
  font-size: 44px;
  top: 50%;
  left: 0;
  margin-top: -22px;
  z-index: 999999;
}
.nextnuhav{
  position: absolute;
  cursor: pointer;
  font-size: 44px;
  top: 50%;
  right: 0;
  margin-top: -22px;
  z-index: 999999;
}
.nuhav_carousel{
  overflow: hidden;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    font-family: "Lato";
    color: #515151;
  }

  a{
    font-family: "Lato";
    font-weight: 600;
    font-size: 12px;
    display: block;
    text-align: center;
    color: #515151;

    &:hover{
      text-decoration: underline;
    }
  }

  span{
    display:block;
    text-align: center;
    font-size: 12px;
  }
}

.space{
  margin-top: 20px;
}
/*=====  End of GLOBAL STYLES  ======*/





/*=============================================
=            NUHAV LAYOUT            =
=============================================*/

.nuhavLayout{
    /*background-color: rgba(255, 0, 0, 0.24);*/
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Mukta";
    box-sizing:border-box;
    @media(--desktop){
      padding-left: 0;
      padding-right: 0;
    }

    p{
      font-family: "Mukta";
      font-size: 16px;
    }
    h1,h2,h3,h4,h5,h6{
      font-family: "Mukta";
      font-weight: 700;
    }
    h1{
      font-size: 28px;
    }
    h2{
      font-size: 24px;
    }
    h3{
      font-size: 20px;
    }
    h4{
      font-size: 18px;
    }

    &__center{
        lost-center: 1148px;
        position: relative;
        lost-utility: clearfix;
        &--flex{
          lost-center: 1148px flex;
        }
    }

    &__left{


      @media(--desktop){
        lost-column: 1/3 3 20px;
      }

    }
    &__right{


      @media(--desktop){
        lost-column: 2/3 3 20px;
      }
    }

    &__grid{
      lost-utility: clearfix;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 10px;
      margin-bottom: 10px;

      &Item{
        @media(--tablet){
          lost-column: 1/2 2 10px;
        }

        @media(--desktop){
          lost-column: 1/4 4 10px;
        }
      }

    }

    /**
    *  Ad Single
    */

    .ad_product{

      @media(--desktop){
        lost-flex-container: row;
      }
    }



    &__adImage{
      background-color: transparent;
      padding: 20px;
      box-sizing: border-box;
      @media(--desktop){
        lost-column: 2/5 5 0px flex;

      }

    }

    &__adContent{
      background-color: transparent;
      padding: 20px;
      box-sizing: border-box;


      @media(--desktop){
        lost-column: 2/5 5 0px flex;
        position: relative;


        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          right: 0;
          background-color: #bdbdbd;
          top: 0;
        }

      }

    }

    &__adAuthor{
      background-color: transparent;
      padding: 20px;
      box-sizing: border-box;
      @media(--desktop){
        lost-column: 1/5 5 0px flex;

      }

    }



}

/*=====  End of NUHAV LAYOUT  ======*/

.ad_product{
  lost-utility: clearfix;
  background-color: white;
  padding: 0 1rem;
  box-shadow: 0px 2px 0px 0px rgba(224, 224, 224, 0.004);
  border-radius: 6px;
  border-bottom: 1px solid #bdbdbd;

  &__city{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato";

    &:before{
      content: "\f041";
      font-family: "fontawesome" !important;
      padding-right: 5px;
    }
  }/* City */

  &__title{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato";
    margin-top: 0;
  }/* Title */

  &__description{
    color: #403f3f;
    font-size: 16px !important;
    font-weight: normal;
    font-family: "Lato" !important;
    margin-top: 0;
  }/* Description */

  &__price{
    margin-top: 25px;
    margin-bottom: 25px;

    &--regular{
      display: inline-block;

      p{
        font-family: "Mukta";
        font-weight: bold;
        font-size: 30px !important;
        color: $green;
        text-decoration: line-through;
        margin: 0;
        padding: 0;
        line-height: 1;

      }

      span{
        text-transform: uppercase;
        color: #403f3f;
        font-size: 11px !important;
        text-decoration: none !important;
        font-family: "Lato" !important;
        line-height: 1;
      }

    }/* Regular Price */

    &--sale{
      background-color: $orange;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 10px;
      margin-left: 20px;
      position: relative;
      &:before{
        content:"";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        display:block;
        border-right:15px solid $orange;
        position: absolute;
        left:-14px;
        top:50%;
        margin-top: -10px;
      }

      p{
        font-family: "Mukta";
        font-weight: bold;
        font-size: 30px !important;
        color: white;
        margin: 0;
        padding: 0;
        line-height: 1;

      }

      span{
        text-transform: uppercase;
        color: #403f3f;
        font-size: 11px !important;
        text-decoration: none !important;
        font-family: "Lato" !important;
        line-height: 1;
      }

    }/* Sale Price */

  }/* Ad Price */

  .buynow{
    font-size: 18px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    max-width: 100%;
    text-transform: capitalize;
    width: 180px;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

    &:after{
      font-family: "fontawesome";
      content: "\f054";
      padding-left: 10px;
      vertical-align: middle;
    }


  }/* Buy Now btn */

  &__offer{
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f7f6f2;
    margin-top: 20px;

    p{
      margin: 0;
    }

    input{

      &[type="text"]{
        border: 2px solid #bdbdbd;
        font-family: "Lato" !important;
        font-size: 16px !important;
        padding: 10px 8px;
        border-radius: 8px 0 0 8px;
        width:160px;
        display: inline-block;
      }

    }

    button{
      background-color: $green;
      border: 0;
      color:white;
      border-radius: 0px 8px 8px 0px;
      padding: 12px 8px;
      font-size: 16px !important;
      display: inline-block;
      vertical-align: top;
      margin-left: -5px;
    }

    &__container{
      text-align: center;
      padding: 10px 5px;
      background-color: #ebebeb;
      border-radius: 15px;
    }

    label{
      font-family: "Lato";
      font-weight: bold;
      font-size: 16px !important;
    }

  }/* Offer */

  &__author{
    text-align: center;
    position: relative;
    padding-bottom: 18px;

    figure{
      text-align: center;
      display: inline-block;
      background-color: red;
      line-height: 0;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 0;

    }

    &__name{
      font-family: "Lato" !important;
      font-size: 16px;
      color: #403f3f;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }

    &__buttons{
      a{
        display: block;
        margin-bottom:15px;
        background-color: transparent;
      }

      &--message{
        &:before{
          content: "\f0e0";
          font-family: "fontawesome" !important;
          padding-right: 5px;
        }

      }

      &--phone{
        &:before{
          content: "\f095";
          font-family: "fontawesome" !important;
          padding-right: 5px;
        }

      }



    }

    &__stats{
      lost-utility: clearfix;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
      padding-left: 14px;
      padding-right: 14px;
      box-sizing: border-box;
      width: 100%;
      &--left{
        lost-column: 1/2 2 0px;
        text-align: left;

        span{
          font-family: "Lato";
          font-size: 12px;
          color: #bdbdbd;
          &:before{
            content: "\f06e";
            font-family: "fontawesome";
            padding-right: 4px;
            display: inline-block;
          }
        }
      }

      &--right{
        lost-column: 1/2 2 0px;
        text-align: right;

        span{
          font-family: "Lato";
          font-size: 12px;
          color: #bdbdbd;
          &:before{
            content: "\f017";
            font-family: "fontawesome";
            padding-right: 4px;
            display: inline-block;
          }
        }
      }

    }

  }/* END Author */



}


/*=============================================
=            Main Header            =
=============================================*/
.mainHeader{
    lost-utility: clearfix;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 2px 0px 0px rgba(224, 224, 224, 0.4);
    background-color: white;

    &__logo{
      lost-column: 2/3 3 0px;
      @media(--desktop){
        lost-column: 1/6;
        /*background-color: peru;*/
      }

    }

    &__menu{
      lost-column: 1/3 3 0px;

      #menu-header{
        display: none;
      }

      #mobilemenu{
        text-align: right;
        font-size: 40px;
        padding-top: 10px;

      }


        @media(--desktop){
          lost-column: 2/6;
          /*background-color: purple;*/
          margin-top: 15px;

          #mobilemenu{
            display: none;
          }
          #menu-header{
            display: block;
          }
        }

        ul{
          list-style: none;
          ul{
            /*display: none;*/
          }
        }

        li{
          display: inline-block;
          vertical-align: top;
          margin-right: 8px;
        }

        a{
          display: block;
          font-family: "Mukta";
          font-size: 16px;

          &:hover{
            color: $orange;
          }

        }

        .current-menu-item{
          a{
            color: $orange;
          }

        }
    }

    &__search{

      lost-column: 1/1;
      lost-flex-container: row;
      @media(--desktop){
        lost-column: 3/6;
        /*background-color: green;*/
        lost-flex-container: row;
        margin-top: 15px;
      }


    }

    &__login{
      text-align: center;

      @media(--tablet){
        lost-column: 2/3 3 10px flex;
        text-align: left;
        box-sizing: border-box;
      }

      @media(--desktop){
        lost-column: 2/3 3 10px flex;
        text-align: left;
      }


      p{
        color: $gray;
        font-size: 14px;
      }
    }




    &__postAdd{
      text-align: center;

      @media(--tablet){
        lost-column: 1/3 3 10px flex;
        text-align: left;
        box-sizing: border-box;
      }
      @media(--desktop){
        lost-column: 1/3 3 10px flex;
        text-align: right;
      }

    }


}


/*=====  End of Main Header  ======*/

/*=============================================
=            Main Content            =
=============================================*/

.mainContent{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f5f5;


  &__search{
    lost-utility: clearfix;
    margin-bottom: 25px;

    h2{
      color: white;
    }
  }

  &__sell{

    border-radius: 8px;
    min-height: 230px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;

    @media(--desktop){
      lost-column: 2/5;
    }



    figure{
      display: inline-block;
      width: 100%;
      margin: 0;
      text-align: center;
      vertical-align: top;

      img{
        max-width: 100%;
        height: auto;
      }

      @media(--tablet){
        width: 33%;
      }

    }

    &__content{
      display: inline-block;
      vertical-align: top;
      color: white;
      padding-left: 20px;
      box-sizing: border-box;
      @media(--tablet){
        width: 65%;
      }

      h2{
        margin: 0;
        padding-top: 0;
      }
    }
  }

  &__searchAd{
    border-radius: 8px;

    min-height: 230px;
    padding: 20px;
    margin-bottom: 25px;
    box-sizing: border-box;
    @media(--desktop){
      lost-column: 3/5;
    }
    form{
      div{
        position: relative;
        float: none !important;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 0 !important;
      }
    }
    input[type="text"]{
        border-width: 2px !important;
        border-color: rgb(224, 224, 224) !important;
        border-style: solid !important;
        border-radius: 4px !important;
        background-color: rgb(255, 255, 255) !important;
        padding: 8px 80px 8px 10px !important;
        box-sizing: border-box !important;
        width: 100% !important;
        font-size: 16px !important;
        margin-bottom: 0 !important;
    }
    button[type="submit"]{
      background-color: $green !important;
      color: white !important;
      display: inline-block !important;
      border:0 !important;
      padding: 8px 10px !important;
      border-radius: 0 4px 4px 0 !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }
    figure{
      display: inline-block;
      width: 100%;
      margin: 0;
      text-align: center;
      vertical-align: top;

      img{
        max-width: 100%;
        height: auto;
      }

      @media(--tablet){
        width: 33%;
      }

    }

    &__content{
      display: inline-block;
      vertical-align: top;
      color: white;
      padding-left: 20px;
      box-sizing: border-box;
      @media(--tablet){
        width: 65%;
      }

      h2{
        margin: 0;
        padding-top: 0;
      }

      form[role="search"] label{
        display:none;
      }

      form[role="search"] input[type="submit"]{
        right: 0;
      }

    }
  }

}

/*=====  End of Main Content  ======*/

.ad__item{
  border-radius: 6px !important;
  margin-bottom: 15px !important;
  box-shadow: 0px 2px 0px 0px rgba(224, 224, 224, 0.004) !important;
  background-color: white !important;

  &--horizontal{
    lost-utility: clearfix;
    margin-bottom: 18px !important;

    &__left{

      @media(--tablet){
        lost-column: 2/5 5 0px;
        height: 240px;
      }


      overflow:hidden;
      img{
        width: 100%;
        height: auto;
      }
    }
    /* right part */
    &__right{

      @media(--tablet){
        lost-column: 3/5 5 0px;
        lost-utility: clearfix;
        height: 240px;
      }

    }

    &__content{
      padding-bottom: 60px;

      @media(--tablet){
        lost-column: 2/3 3 0px;
        height: 240px;
      }

      position: relative;
      padding-top: 10px;

      padding-left: 20px;
      box-sizing: border-box;
      lost-utility: clearfix;

      &__city{
        font-size: 12px !important;
      }

      &__description{
        fontsize: 14px !important;
      }

      &__price{
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        p{
          font-size:20px !important;

          &:first-child{
            font-size:18px !important;
          }
        }
      }

      h3{
        font-size: 20px !important;
        margin-bottom: 5px !important;
      }
    }
    &__author{

      @media(--tablet){
        lost-column: 1/3 3 0px;
        height: 240px;

        &:before{
          content: "";
          background-color: #bdbdbd;
          width: 1px;
          height: 100%;
          display: block;
          position: absolute;
          left:0;
          top:0;
          bottom:0;
        }

      }

      text-align: center;
      position: relative;

      h5{
        font-size: 14px !important;
      }



      figure{
        min-height: auto !important;
        background-color: transparent !important;
        margin-top: 30px !important;
        padding-left: 30px;
        padding-right: 30px;

        img{
          border-radius: 50%;
        }

      }

    }

  }/*Horizontal Item*/


  figure{
    text-align: center;
    min-height: 140px;
    background-color: #ccc;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    line-height: 0;
    margin-left: 0;
    margin: 0;

    img{
      display: inline-block;
    }
  }

  &ContentWrapper{
    padding: 4px 10px;

  }

  &Meta{
    lost-utility: clearfix;
    li{
      lost-column: 1/2;
      font-size: 12px;
      font-family: "Lato";
      font-weight: bold;
      color: #bdbdbd;
      text-transform: capitalize;
    }
  }

  &City{
    &:before{
      content: "\f041";
      font-family: "fontawesome";
      padding-right: 4px;
    }
  }

  &Phone{
    text-align: right;
    &:before{
      content: "\f10b";
      font-family: "fontawesome";
      padding-right: 4px;
    }
  }

  &Title{
    a{
      font-family: "Lato";
      font-weight: normal;
      font-size: 18px;
      color: black;
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }

  &Date{
    font-family: "Lato";
    font-size: 12px;
    text-transform: uppercase;
    color: #bdbdbd;
  }

  &Price{
    font-family: "Mukta";
    font-size: 30px !important;
    color: $green;
    margin-top: 44px;
  }

}

.footer{
  lost-utility: clearfix;
  text-align: center;

  @media(--tablet){
    text-align: left;
  }

  &__row{
    lost-utility: clearfix;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing:border-box;

    &--first{
      padding-top: 44px;
      padding-bottom: 44px;
    }

  }
  *{
    color: white;
  }
  h3{
    font-family: "Mukta" !important;
    font-size: 18px;
    font-weight: 600 !important;
    margin-bottom: 10px;
  }
  a{
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 400;
  }
  p{
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 400;
  }
  li{
    font-family: "Lato" !important;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
    a{
      display: block;
    }
  }
  ul{
    list-style: none;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 0;
  }

  &__copyright{
    text-align: center;
    padding-top: 8px !important;
    @media(--desktop){
      lost-column: 1/2;
      text-align: left;

      a{
        color: $green;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &__login{
    text-align: center;
    padding-top: 8px !important;
    @media(--desktop){
      lost-column: 1/2;
      text-align: right;

      a{
        color: $green;
        &:hover{
          text-decoration: underline;
        }
      }

    }
  }

  &__col1{
    @media(--tablet){
      lost-column: 1/2;
    }
    @media(--desktop){
      lost-column: 1/4;
    }
  }
  &__col2{
    @media(--tablet){
      lost-column: 1/2;
    }
    @media(--desktop){
      lost-column: 1/4;
    }
  }
  &__col3{
    @media(--tablet){
      lost-column: 1/2;
    }
    @media(--desktop){
      lost-column: 1/4;
    }
  }
  &__col4{
    @media(--tablet){
      lost-column: 1/2;
    }
    @media(--desktop){
      lost-column: 1/4;
    }

    a{
      display: block;
      margin-bottom: 8px;
    }
  }

  &__social{
    padding-left: 0 !important;
    margin-left: 0;

    li{
      display: inline-block;
      width:44px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      background-color: $green2;
      border-radius: 5px;
      box-shadow:inset 0 2px 0px 0 #3e6122;
    }

    a{
      display: block;

      i{
        font-size: 20px !important;
      }
    }

  }
}
