@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 100;
    src: local("Lato Hairline Italic"),local(Lato-HairlineItalic),url(//fonts.gstatic.com/s/lato/v13/81DMwqUqq96weubmVpbDyvesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/9TBVFLzQ3GUZLG8FZ4yrEfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/CggrdU0t5c42NcNxN-VM3_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"),local(Lato-LightItalic),url(//fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: local("Lato Italic"),local(Lato-Italic),url(//fonts.gstatic.com/s/lato/v13/bjaQ6jyWa8A2XFrSKceJyA.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/PLygLKRVCQnA5fhu3qk5fQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/oUan5VrEkpzIazlUe5ieaA.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    src: local("Lato Bold Italic"),local(Lato-BoldItalic),url(//fonts.gstatic.com/s/lato/v13/HkF_qI1x_noxlxhrhMQYEPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 900;
    src: local("Lato Black Italic"),local(Lato-BlackItalic),url(//fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY_Y6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 100;
    src: local("Lato Hairline"),local(Lato-Hairline),url(//fonts.gstatic.com/s/lato/v13/KlmP_Vc2zOZBldw8AfXD5g.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/GtRkRNTnri0g82CjKnEB0Q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/boeCNmOCCh-EWFLSfVffDg.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"),local(Lato-Light),url(//fonts.gstatic.com/s/lato/v13/zLhfkPOm_5ykmdm-wXaiuw.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v13/nQhiC-wSiJx0pvEuJl8d8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v13/sBtfDPlEIwvKKU53nAG7AQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff");
}


@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    src: local("Lato Black"),local(Lato-Black),url(//fonts.gstatic.com/s/lato/v13/BjDVcwQGWPX2RAidnkd0Bw.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v13/tI4j516nok_GrVf4dhunkg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v13/BVtM30trf7q_jfqYeHfjtA.woff) format("woff");
}


@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 400;
    src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}


@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}


@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}


@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}


@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}


@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}


@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}


@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}


@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(HelveticaNeue),local(Helvetica);
}


@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}


/*=============================================
=            GENERAL SETTINGS            =
=============================================*/


/*----------  Importing CSS  ----------*/


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */


/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */


/* Document
   ========================================================================== */


html {
    font-family: sans-serif; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
  }


/* Sections
     ========================================================================== */


/**
   * Remove the margin in all browsers (opinionated).
   */


body {
    margin: 0;
  }


/**
   * Add the correct display in IE 9-.
   */


article, aside, footer, header, nav, section {
    display: block;
  }


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */


h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }


/* Grouping content
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */


figcaption, figure, main { /* 1 */
    display: block;
  }


/**
   * Add the correct margin in IE 8.
   */


figure {
    margin: 1em 40px;
  }


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */


hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */


pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }


/* Text-level semantics
     ========================================================================== */


/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */


a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
  }


/**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */


a:active, a:hover {
    outline-width: 0;
  }


/**
   * 1. Remove the bottom border in Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */


abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted; /* 2 */
  }


/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */


b, strong {
    font-weight: inherit;
  }


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */


b, strong {
    font-weight: bolder;
  }


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */


code, kbd, samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }


/**
   * Add the correct font style in Android 4.3-.
   */


dfn {
    font-style: italic;
  }


/**
   * Add the correct background and color in IE 9-.
   */


mark {
    background-color: #ff0;
    color: #000;
  }


/**
   * Add the correct font size in all browsers.
   */


small {
    font-size: 80%;
  }


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */


sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }


sub {
    bottom: -0.25em;
  }


sup {
    top: -0.5em;
  }


/* Embedded content
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   */


audio, video {
    display: inline-block;
  }


/**
   * Add the correct display in iOS 4-7.
   */


audio:not([controls]) {
    display: none;
    height: 0;
  }


/**
   * Remove the border on images inside links in IE 10-.
   */


img {
    border-style: none;
  }


/**
   * Hide the overflow in IE.
   */


svg:not(:root) {
    overflow: hidden;
  }


/* Forms
     ========================================================================== */


/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */


button, input, optgroup, select, textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */


button, input { /* 1 */
    overflow: visible;
  }


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */


button, select { /* 1 */
    text-transform: none;
  }


/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */


button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button; /* 2 */
  }


/**
   * Remove the inner border and padding in Firefox.
   */


button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }


/**
   * Restore the focus styles unset by the previous rule.
   */


button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }


/**
   * Change the border, margin, and padding in all browsers (opinionated).
   */


fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */


legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }


/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */


progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }


/**
   * Remove the default vertical scrollbar in IE.
   */


textarea {
    overflow: auto;
  }


/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */


[type="checkbox"], [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */


[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */


[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }


/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */


[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */


::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }


/* Interactive
     ========================================================================== */


/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */


details, menu {
    display: block;
  }


/*
   * Add the correct display in all browsers.
   */


summary {
    display: list-item;
  }


/* Scripting
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   */


canvas {
    display: inline-block;
  }


/**
   * Add the correct display in IE.
   */


template {
    display: none;
  }


/* Hidden
     ========================================================================== */


/**
   * Add the correct display in IE 10-.
   */


[hidden] {
    display: none;
  }


/*=============================================
=            Variables            =
=============================================*/


/*=====  End of Variables  ======*/


/* -- Custom Media queries */


/*@custom-media --tablet (max-width: 650px);*/


/*=====  End of GENERAL SETTINGS  ======*/


/*=============================================
=            GLOBAL STYLES            =
=============================================*/


body{
    font-family: "Mukta" !important;
    font-family: 16px !important;
}


h1, h2, h3, h4, h5, h6{
  color: #403f3f;
}


a{
    color: #76b445;
    text-decoration: none;
    font-weight: 600
}


a:hover {
    color: #f0b01d;
}


#breadcrumb{
  font-size: 14px;
  font-family: "Lato";
}


.btn{
  border-radius: 4px;
  background-color: rgb(240, 176, 29);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .1);
  display: inline-block;
  color: white;
  padding: 10px 15px;
  font-size: 16px

}


.btn:hover {
    color: white;
}


.btn--border {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
}


.btn--green {
    color: #76b445;
}


.btn--green:hover {
    color: white;
    background-color: #76b445;
}


.btn--yellow {
    color: #f0b01d;
}


.btn--yellow:hover {
    color: white;
    background-color: #f0b01d;
}


.btn--red {
    background-color: #ed1c24 !important;
}


.green{
  background-color: #76b445;
}


.green2{
  background-color: #4c742d;
}


.orange{
  background-color: #f0b01d;
}


form[role="search"] > div{
  position: relative;
}


form[role="search"] input[type="text"]{
    border-width: 2px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 8px 80px 8px 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}


form[role="search"] input[type="submit"]{
  background-color: #76b445;
  color: white;
  display: inline-block;
  border:0;
  padding: 8px 10px;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
}


.center__text{
    text-align: center;
  }


.color__green{
    color: #76b445;
  }


.prevnuhav{
  position: absolute;
  cursor: pointer;
  font-size: 44px;
  top: 50%;
  left: 0;
  margin-top: -22px;
  z-index: 999999;
}


.nextnuhav{
  position: absolute;
  cursor: pointer;
  font-size: 44px;
  top: 50%;
  right: 0;
  margin-top: -22px;
  z-index: 999999;
}


.nuhav_carousel{
  overflow: hidden;
}


.nuhav_carousel img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.nuhav_carousel li{
    font-family: "Lato";
    color: #515151;
  }


.nuhav_carousel a{
    font-family: "Lato";
    font-weight: 600;
    font-size: 12px;
    display: block;
    text-align: center;
    color: #515151
  }


.nuhav_carousel a:hover {
    text-decoration: underline;
}


.nuhav_carousel span{
    display:block;
    text-align: center;
    font-size: 12px;
  }


.space{
  margin-top: 20px;
}


/*=====  End of GLOBAL STYLES  ======*/


/*=============================================
=            NUHAV LAYOUT            =
=============================================*/


.nuhavLayout{
    /*background-color: rgba(255, 0, 0, 0.24);*/
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Mukta";
    box-sizing:border-box;



}


.nuhavLayout p {
      font-family: "Mukta";
      font-size: 16px;
}


.nuhavLayout h1, .nuhavLayout h2, .nuhavLayout h3, .nuhavLayout h4, .nuhavLayout h5, .nuhavLayout h6 {
      font-family: "Mukta";
      font-weight: 700;
}


.nuhavLayout h1 {
      font-size: 28px;
}


.nuhavLayout h2 {
      font-size: 24px;
}


.nuhavLayout h3 {
      font-size: 20px;
}


.nuhavLayout h4 {
      font-size: 18px;
}


.nuhavLayout__center {
        max-width: 1148px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
}


.nuhavLayout__center:before {
        content: '';
        display: table;
}


.nuhavLayout__center:after {
        content: '';
        display: table;
        clear: both;
}


.nuhavLayout__center:before {
        content: '';
        display: table;
}


.nuhavLayout__center:after {
        content: '';
        display: table;
        clear: both;
}


.nuhavLayout__center--flex{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          max-width: 1148px;
          margin-left: auto;
          margin-right: auto;
        }


.nuhavLayout__grid {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
}


.nuhavLayout__grid:before {
      content: '';
      display: table;
}


.nuhavLayout__grid:after {
      content: '';
      display: table;
      clear: both;
}


.nuhavLayout {


    /**
    *  Ad Single*/
}


.nuhavLayout__adImage {
      background-color: transparent;
      padding: 20px;
      box-sizing: border-box;
}


.nuhavLayout__adContent {
      background-color: transparent;
      padding: 20px;
      box-sizing: border-box;
}


.nuhavLayout__adAuthor {
      background-color: transparent;
      padding: 20px;
      box-sizing: border-box;
}


/*=====  End of NUHAV LAYOUT  ======*/


.ad_product{
  background-color: white;
  padding: 0 1rem;
  box-shadow: 0px 2px 0px 0px rgba(224, 224, 224, .004);
  border-radius: 6px;
  border-bottom: 1px solid #bdbdbd;/* END Author */



}


.ad_product:before{/* END Author */
  content: '';
  display: table;



}


.ad_product:after{/* END Author */
  content: '';
  display: table;
  clear: both;



}


.ad_product__city{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato"
  }


.ad_product__city:before {
    content: "\f041";
    font-family: "fontawesome" !important;
    padding-right: 5px;
}


/* City */


.ad_product__title{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato";
    margin-top: 0;
  }


/* Title */


.ad_product__description{
    color: #403f3f;
    font-size: 16px !important;
    font-weight: normal;
    font-family: "Lato" !important;
    margin-top: 0;
  }


/* Description */


.ad_product__price{
    margin-top: 25px;
    margin-bottom: 25px;/* Sale Price */

  }


.ad_product__price--regular{
      display: inline-block;

    }


.ad_product__price--regular p{
        font-family: "Mukta";
        font-weight: bold;
        font-size: 30px !important;
        color: #76b445;
        text-decoration: line-through;
        margin: 0;
        padding: 0;
        line-height: 1;

      }


.ad_product__price--regular span{
        text-transform: uppercase;
        color: #403f3f;
        font-size: 11px !important;
        text-decoration: none !important;
        font-family: "Lato" !important;
        line-height: 1;
      }


/* Regular Price */


.ad_product__price--sale{
      background-color: #f0b01d;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 10px;
      margin-left: 20px;
      position: relative

    }


.ad_product__price--sale:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display:block;
    border-right:15px solid #f0b01d;
    position: absolute;
    left:-14px;
    top:50%;
    margin-top: -10px;
}


.ad_product__price--sale p {
        font-family: "Mukta";
        font-weight: bold;
        font-size: 30px !important;
        color: white;
        margin: 0;
        padding: 0;
        line-height: 1;
}


.ad_product__price--sale span {
        text-transform: uppercase;
        color: #403f3f;
        font-size: 11px !important;
        text-decoration: none !important;
        font-family: "Lato" !important;
        line-height: 1;
}


/* Ad Price */


.ad_product .buynow{
    font-size: 18px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    max-width: 100%;
    text-transform: capitalize;
    width: 180px;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px


  }


.ad_product .buynow:after {
    font-family: "fontawesome";
    content: "\f054";
    padding-left: 10px;
    vertical-align: middle;
}


/* Buy Now btn */


.ad_product__offer{
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f7f6f2;
    margin-top: 20px;

  }


.ad_product__offer p{
      margin: 0;
    }


.ad_product__offer input[type="text"] {
    border: 2px solid #bdbdbd;
    font-family: "Lato" !important;
    font-size: 16px !important;
    padding: 10px 8px;
    border-radius: 8px 0 0 8px;
    width:160px;
    display: inline-block;
}


.ad_product__offer button{
      background-color: #76b445;
      border: 0;
      color:white;
      border-radius: 0px 8px 8px 0px;
      padding: 12px 8px;
      font-size: 16px !important;
      display: inline-block;
      vertical-align: top;
      margin-left: -5px;
    }


.ad_product__offer__container{
      text-align: center;
      padding: 10px 5px;
      background-color: #ebebeb;
      border-radius: 15px;
    }


.ad_product__offer label{
      font-family: "Lato";
      font-weight: bold;
      font-size: 16px !important;
    }


/* Offer */


.ad_product__author{
    text-align: center;
    position: relative;
    padding-bottom: 18px;

  }


.ad_product__author figure{
      text-align: center;
      display: inline-block;
      background-color: red;
      line-height: 0;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 0;

    }


.ad_product__author__name{
      font-family: "Lato" !important;
      font-size: 16px;
      color: #403f3f;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }


.ad_product__author__buttons a{
        display: block;
        margin-bottom:15px;
        background-color: transparent;
      }


.ad_product__author__buttons--message:before {
    content: "\f0e0";
    font-family: "fontawesome" !important;
    padding-right: 5px;
}


.ad_product__author__buttons--phone:before {
    content: "\f095";
    font-family: "fontawesome" !important;
    padding-right: 5px;
}


.ad_product__author__stats{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
      padding-left: 14px;
      padding-right: 14px;
      box-sizing: border-box;
      width: 100%;

    }


.ad_product__author__stats:before{
      content: '';
      display: table;

    }


.ad_product__author__stats:after{
      content: '';
      display: table;
      clear: both;

    }


.ad_product__author__stats--left{
        width: 49.95%;
        text-align: left;
      }


.ad_product__author__stats--left:nth-child(1n){
        float: left;
        margin-right: 0px;
        clear: none;
      }


.ad_product__author__stats--left:last-child{
        margin-right: 0;
      }


.ad_product__author__stats--left:nth-child(2n){
        margin-right: 0;
        float: right;
      }


.ad_product__author__stats--left:nth-child(2n + 1){
        clear: both;
      }


.ad_product__author__stats--left span{
          font-family: "Lato";
          font-size: 12px;
          color: #bdbdbd
        }


.ad_product__author__stats--left span:before {
    content: "\f06e";
    font-family: "fontawesome";
    padding-right: 4px;
    display: inline-block;
}


.ad_product__author__stats--right{
        width: 49.95%;
        text-align: right;
      }


.ad_product__author__stats--right:nth-child(1n){
        float: left;
        margin-right: 0px;
        clear: none;
      }


.ad_product__author__stats--right:last-child{
        margin-right: 0;
      }


.ad_product__author__stats--right:nth-child(2n){
        margin-right: 0;
        float: right;
      }


.ad_product__author__stats--right:nth-child(2n + 1){
        clear: both;
      }


.ad_product__author__stats--right span{
          font-family: "Lato";
          font-size: 12px;
          color: #bdbdbd
        }


.ad_product__author__stats--right span:before {
    content: "\f017";
    font-family: "fontawesome";
    padding-right: 4px;
    display: inline-block;
}


/*=============================================
=            Main Header            =
=============================================*/


.mainHeader{
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 2px 0px 0px rgba(224, 224, 224, .4);
    background-color: white;


}


.mainHeader:before{
    content: '';
    display: table;


}


.mainHeader:after{
    content: '';
    display: table;
    clear: both;


}


.mainHeader__logo{
      width: 66.6%;

    }


.mainHeader__logo:nth-child(1n){
      float: left;
      margin-right: 0px;
      clear: none;

    }


.mainHeader__logo:last-child{
      margin-right: 0;

    }


.mainHeader__logo:nth-child(3n){
      margin-right: 0;
      float: right;

    }


.mainHeader__logo:nth-child(3n + 1){
      clear: both;

    }


.mainHeader__menu {
      width: 33.3%;
}


.mainHeader__menu:nth-child(1n) {
      float: left;
      margin-right: 0px;
      clear: none;
}


.mainHeader__menu:last-child {
      margin-right: 0;
}


.mainHeader__menu:nth-child(3n) {
      margin-right: 0;
      float: right;
}


.mainHeader__menu:nth-child(3n + 1) {
      clear: both;
}


.mainHeader__menu #menu-header{
        display: none;
      }


.mainHeader__menu #mobilemenu{
        text-align: right;
        font-size: 40px;
        padding-top: 10px;

      }


.mainHeader__menu ul {
          list-style: none;
}


.mainHeader__menu ul ul{
            /*display: none;*/
          }


.mainHeader__menu li {
          display: inline-block;
          vertical-align: top;
          margin-right: 8px;
}


.mainHeader__menu a {
          display: block;
          font-family: "Mukta";
          font-size: 16px;
}


.mainHeader__menu a:hover {
    color: #f0b01d;
}


.mainHeader__menu .current-menu-item a{
            color: #f0b01d;
          }


.mainHeader__search {

      width: 99.9%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
}


.mainHeader__search:nth-child(1n) {

      float: left;

      margin-right: 30px;

      clear: none;
}


.mainHeader__search:last-child {

      margin-right: 0;
}


.mainHeader__search:nth-child(1n) {

      margin-right: 0;

      float: right;
}


.mainHeader__search:nth-child(1n + 1) {

      clear: both;
}


.mainHeader__login {
      text-align: center;
}


.mainHeader__login p {
        color: #403f3f;
        font-size: 14px;
}


.mainHeader__postAdd {
      text-align: center;
}


/*=====  End of Main Header  ======*/


/*=============================================
=            Main Content            =
=============================================*/


.mainContent{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f5f5;

}


.mainContent__search{
    margin-bottom: 25px;
  }


.mainContent__search:before{
    content: '';
    display: table;
  }


.mainContent__search:after{
    content: '';
    display: table;
    clear: both;
  }


.mainContent__search h2{
      color: white;
    }


.mainContent__sell{

    border-radius: 8px;
    min-height: 230px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }


.mainContent__sell figure {
      display: inline-block;
      width: 100%;
      margin: 0;
      text-align: center;
      vertical-align: top;
}


.mainContent__sell figure img{
        max-width: 100%;
        height: auto;
      }


.mainContent__sell__content {
      display: inline-block;
      vertical-align: top;
      color: white;
      padding-left: 20px;
      box-sizing: border-box;
}


.mainContent__sell__content h2 {
        margin: 0;
        padding-top: 0;
}


.mainContent__searchAd {
    border-radius: 8px;

    min-height: 230px;
    padding: 20px;
    margin-bottom: 25px;
    box-sizing: border-box;
}


.mainContent__searchAd form div{
        position: relative;
        float: none !important;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 0 !important;
      }


.mainContent__searchAd input[type="text"] {
        border-width: 2px !important;
        border-color: rgb(224, 224, 224) !important;
        border-style: solid !important;
        border-radius: 4px !important;
        background-color: rgb(255, 255, 255) !important;
        padding: 8px 80px 8px 10px !important;
        box-sizing: border-box !important;
        width: 100% !important;
        font-size: 16px !important;
        margin-bottom: 0 !important;
}


.mainContent__searchAd button[type="submit"] {
      background-color: #76b445 !important;
      color: white !important;
      display: inline-block !important;
      border:0 !important;
      padding: 8px 10px !important;
      border-radius: 0 4px 4px 0 !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
}


.mainContent__searchAd figure {
      display: inline-block;
      width: 100%;
      margin: 0;
      text-align: center;
      vertical-align: top;
}


.mainContent__searchAd figure img{
        max-width: 100%;
        height: auto;
      }


.mainContent__searchAd__content {
      display: inline-block;
      vertical-align: top;
      color: white;
      padding-left: 20px;
      box-sizing: border-box;
}


.mainContent__searchAd__content h2 {
        margin: 0;
        padding-top: 0;
}


.mainContent__searchAd__content form[role="search"] label {
        display:none;
}


.mainContent__searchAd__content form[role="search"] input[type="submit"] {
        right: 0;
}


/*=====  End of Main Content  ======*/


.ad__item{
  border-radius: 6px !important;
  margin-bottom: 15px !important;
  box-shadow: 0px 2px 0px 0px rgba(224, 224, 224, .004) !important;
  background-color: white !important;

}


.ad__item--horizontal{
    margin-bottom: 18px !important;

  }


.ad__item--horizontal:before{
    content: '';
    display: table;

  }


.ad__item--horizontal:after{
    content: '';
    display: table;
    clear: both;

  }


.ad__item--horizontal {


    /*right part*/
}


.ad__item--horizontal__left {
    overflow:hidden;
}


.ad__item--horizontal__left img {
        width: 100%;
        height: auto;
}


.ad__item--horizontal__content {
      padding-bottom: 60px;
}


.ad__item--horizontal__content {
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}


.ad__item--horizontal__content:before {
    content: '';
    display: table;
}


.ad__item--horizontal__content:after {
    content: '';
    display: table;
    clear: both;
}


.ad__item--horizontal__content__city {
        font-size: 12px !important;
}


.ad__item--horizontal__content__description {
        fontsize: 14px !important;
}


.ad__item--horizontal__content__price {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
}


.ad__item--horizontal__content__price p{
          font-size:20px !important
        }


.ad__item--horizontal__content__price p:first-child {
    font-size:18px !important;
}


.ad__item--horizontal__content h3 {
        font-size: 20px !important;
        margin-bottom: 5px !important;
}


.ad__item--horizontal__author {
    text-align: center;
    position: relative;
}


.ad__item--horizontal__author h5 {
        font-size: 14px !important;
}


.ad__item--horizontal__author figure {
        min-height: auto !important;
        background-color: transparent !important;
        margin-top: 30px !important;
        padding-left: 30px;
        padding-right: 30px;
}


.ad__item--horizontal__author figure img{
          border-radius: 50%;
        }


/*Horizontal Item*/


.ad__item figure {
    text-align: center;
    min-height: 140px;
    background-color: #ccc;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    line-height: 0;
    margin-left: 0;
    margin: 0;
}


.ad__item figure img{
      display: inline-block;
    }


.ad__itemContentWrapper {
    padding: 4px 10px;
}


.ad__itemMeta:before {
    content: '';
    display: table;
}


.ad__itemMeta:after {
    content: '';
    display: table;
    clear: both;
}


.ad__itemMeta li{
      width: calc(49.95% - 15px);
      font-size: 12px;
      font-family: "Lato";
      font-weight: bold;
      color: #bdbdbd;
      text-transform: capitalize;
    }


.ad__itemMeta li:nth-child(1n){
      float: left;
      margin-right: 30px;
      clear: none;
    }


.ad__itemMeta li:last-child{
      margin-right: 0;
    }


.ad__itemMeta li:nth-child(2n){
      margin-right: 0;
      float: right;
    }


.ad__itemMeta li:nth-child(2n + 1){
      clear: both;
    }


.ad__itemCity:before {
    content: "\f041";
    font-family: "fontawesome";
    padding-right: 4px;
}


.ad__itemPhone {
    text-align: right;
}


.ad__itemPhone:before {
    content: "\f10b";
    font-family: "fontawesome";
    padding-right: 4px;
}


.ad__itemTitle a{
      font-family: "Lato";
      font-weight: normal;
      font-size: 18px;
      color: black;
      padding-bottom: 0;
      margin-bottom: 0;
    }


.ad__itemDate {
    font-family: "Lato";
    font-size: 12px;
    text-transform: uppercase;
    color: #bdbdbd;
}


.ad__itemPrice {
    font-family: "Mukta";
    font-size: 30px !important;
    color: #76b445;
    margin-top: 44px;
}


.footer{
  text-align: center;
}


.footer:before{
  content: '';
  display: table;
}


.footer:after{
  content: '';
  display: table;
  clear: both;
}


.footer__row {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing:border-box;
}


.footer__row:before {
    content: '';
    display: table;
}


.footer__row:after {
    content: '';
    display: table;
    clear: both;
}


.footer__row--first{
      padding-top: 44px;
      padding-bottom: 44px;
    }


.footer * {
    color: white;
}


.footer h3 {
    font-family: "Mukta" !important;
    font-size: 18px;
    font-weight: 600 !important;
    margin-bottom: 10px;
}


.footer a {
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 400;
}


.footer p {
    font-family: "Lato" !important;
    font-size: 14px;
    font-weight: 400;
}


.footer li {
    font-family: "Lato" !important;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
}


.footer li a{
      display: block;
    }


.footer ul {
    list-style: none;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 0;
}


.footer__copyright {
    text-align: center;
    padding-top: 8px !important;
}


.footer__login {
    text-align: center;
    padding-top: 8px !important;
}


.footer__col4 a {
      display: block;
      margin-bottom: 8px;
}


.footer__social {
    padding-left: 0 !important;
    margin-left: 0;
}


.footer__social li{
      display: inline-block;
      width:44px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      background-color: #4c742d;
      border-radius: 5px;
      box-shadow:inset 0 2px 0px 0 #3e6122;
    }


.footer__social a{
      display: block;
    }


.footer__social a i{
        font-size: 20px !important;
      }


@media (min-width: 500px) {


    .nuhavLayout__gridItem {
        width: calc(49.95% - 5px);
    }


    .nuhavLayout__gridItem:nth-child(1n) {
        float: left;
        margin-right: 10px;
        clear: none;
    }


    .nuhavLayout__gridItem:last-child {
        margin-right: 0;
    }


    .nuhavLayout__gridItem:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .nuhavLayout__gridItem:nth-child(2n + 1) {
        clear: both;
    }


    .mainHeader__login {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: calc(66.6% - 3.33333px);
            flex-basis: calc(66.6% - 3.33333px);
        max-width: calc(66.6% - 3.33333px);
        width: calc(66.6% - 3.33333px);
        text-align: left;
        box-sizing: border-box;
    }


    .mainHeader__login:nth-child(1n) {
        margin-right: 10px;
        margin-left: 0;
    }


    .mainHeader__login:last-child {
        margin-right: 0;
    }


    .mainHeader__login:nth-child(3n) {
        margin-right: 0;
        margin-left: auto;
    }


    .mainHeader__postAdd {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: calc(33.3% - 6.66667px);
            flex-basis: calc(33.3% - 6.66667px);
        max-width: calc(33.3% - 6.66667px);
        width: calc(33.3% - 6.66667px);
        text-align: left;
        box-sizing: border-box;
    }


    .mainHeader__postAdd:nth-child(1n) {
        margin-right: 10px;
        margin-left: 0;
    }


    .mainHeader__postAdd:last-child {
        margin-right: 0;
    }


    .mainHeader__postAdd:nth-child(3n) {
        margin-right: 0;
        margin-left: auto;
    }


    .mainContent__sell figure {
        width: 33%;
    }


    .mainContent__sell__content {
        width: 65%;
    }


    .mainContent__searchAd figure {
        width: 33%;
    }


    .mainContent__searchAd__content {
        width: 65%;
    }


    .ad__item--horizontal__left {
        width: 39.96%;
        height: 240px;
    }


    .ad__item--horizontal__left:nth-child(1n) {
        float: left;
        margin-right: 0px;
        clear: none;
    }


    .ad__item--horizontal__left:last-child {
        margin-right: 0;
    }


    .ad__item--horizontal__left:nth-child(5n) {
        margin-right: 0;
        float: right;
    }


    .ad__item--horizontal__left:nth-child(5n + 1) {
        clear: both;
    }


    .ad__item--horizontal__right {
        width: 59.94%;
        height: 240px;
    }


    .ad__item--horizontal__right:nth-child(1n) {
        float: left;
        margin-right: 0px;
        clear: none;
    }


    .ad__item--horizontal__right:last-child {
        margin-right: 0;
    }


    .ad__item--horizontal__right:nth-child(5n) {
        margin-right: 0;
        float: right;
    }


    .ad__item--horizontal__right:nth-child(5n + 1) {
        clear: both;
    }


    .ad__item--horizontal__right:before {
        content: '';
        display: table;
    }


    .ad__item--horizontal__right:after {
        content: '';
        display: table;
        clear: both;
    }


    .ad__item--horizontal__content {
        width: 66.6%;
        height: 240px;
    }


    .ad__item--horizontal__content:nth-child(1n) {
        float: left;
        margin-right: 0px;
        clear: none;
    }


    .ad__item--horizontal__content:last-child {
        margin-right: 0;
    }


    .ad__item--horizontal__content:nth-child(3n) {
        margin-right: 0;
        float: right;
    }


    .ad__item--horizontal__content:nth-child(3n + 1) {
        clear: both;
    }


    .ad__item--horizontal__author {
        width: 33.3%;
        height: 240px;
    }


    .ad__item--horizontal__author:nth-child(1n) {
        float: left;
        margin-right: 0px;
        clear: none;
    }


    .ad__item--horizontal__author:last-child {
        margin-right: 0;
    }


    .ad__item--horizontal__author:nth-child(3n) {
        margin-right: 0;
        float: right;
    }


    .ad__item--horizontal__author:nth-child(3n + 1) {
        clear: both;
    }


    .ad__item--horizontal__author:before {
        content: "";
        background-color: #bdbdbd;
        width: 1px;
        height: 100%;
        display: block;
        position: absolute;
        left:0;
        top:0;
        bottom:0;
    }


    .footer {
        text-align: left;
    }


    .footer__col1 {
        width: calc(49.95% - 15px);
    }


    .footer__col1:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col1:last-child {
        margin-right: 0;
    }


    .footer__col1:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .footer__col1:nth-child(2n + 1) {
        clear: both;
    }


    .footer__col2 {
        width: calc(49.95% - 15px);
    }


    .footer__col2:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col2:last-child {
        margin-right: 0;
    }


    .footer__col2:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .footer__col2:nth-child(2n + 1) {
        clear: both;
    }


    .footer__col3 {
        width: calc(49.95% - 15px);
    }


    .footer__col3:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col3:last-child {
        margin-right: 0;
    }


    .footer__col3:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .footer__col3:nth-child(2n + 1) {
        clear: both;
    }


    .footer__col4 {
        width: calc(49.95% - 15px);
    }


    .footer__col4:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col4:last-child {
        margin-right: 0;
    }


    .footer__col4:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .footer__col4:nth-child(2n + 1) {
        clear: both;
    }
}


@media (min-width: 800px) {


    .nuhavLayout {
        padding-left: 0;
        padding-right: 0;
    }


    .nuhavLayout__left {
        width: calc(33.3% - 13.33333px);
    }


    .nuhavLayout__left:nth-child(1n) {
        float: left;
        margin-right: 20px;
        clear: none;
    }


    .nuhavLayout__left:last-child {
        margin-right: 0;
    }


    .nuhavLayout__left:nth-child(3n) {
        margin-right: 0;
        float: right;
    }


    .nuhavLayout__left:nth-child(3n + 1) {
        clear: both;
    }


    .nuhavLayout__right {
        width: calc(66.6% - 6.66667px);
    }


    .nuhavLayout__right:nth-child(1n) {
        float: left;
        margin-right: 20px;
        clear: none;
    }


    .nuhavLayout__right:last-child {
        margin-right: 0;
    }


    .nuhavLayout__right:nth-child(3n) {
        margin-right: 0;
        float: right;
    }


    .nuhavLayout__right:nth-child(3n + 1) {
        clear: both;
    }


    .nuhavLayout__gridItem {
        width: calc(24.975% - 7.5px);
    }


    .nuhavLayout__gridItem:nth-child(1n) {
        float: left;
        margin-right: 10px;
        clear: none;
    }


    .nuhavLayout__gridItem:last-child {
        margin-right: 0;
    }


    .nuhavLayout__gridItem:nth-child(4n) {
        margin-right: 0;
        float: right;
    }


    .nuhavLayout__gridItem:nth-child(4n + 1) {
        clear: both;
    }


    .nuhavLayout .ad_product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }


    .nuhavLayout__adImage {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: 39.96%;
            flex-basis: 39.96%;
        max-width: 39.96%;
        width: 39.96%;
    }


    .nuhavLayout__adImage:nth-child(1n) {
        margin-right: 0px;
        margin-left: 0;
    }


    .nuhavLayout__adImage:last-child {
        margin-right: 0;
    }


    .nuhavLayout__adImage:nth-child(5n) {
        margin-right: 0;
        margin-left: auto;
    }


    .nuhavLayout__adContent {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: 39.96%;
            flex-basis: 39.96%;
        max-width: 39.96%;
        width: 39.96%;
        position: relative;
    }


    .nuhavLayout__adContent:nth-child(1n) {
        margin-right: 0px;
        margin-left: 0;
    }


    .nuhavLayout__adContent:last-child {
        margin-right: 0;
    }


    .nuhavLayout__adContent:nth-child(5n) {
        margin-right: 0;
        margin-left: auto;
    }


    .nuhavLayout__adContent:after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0;
        background-color: #bdbdbd;
        top: 0;
    }


    .nuhavLayout__adAuthor {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: 19.98%;
            flex-basis: 19.98%;
        max-width: 19.98%;
        width: 19.98%;
    }


    .nuhavLayout__adAuthor:nth-child(1n) {
        margin-right: 0px;
        margin-left: 0;
    }


    .nuhavLayout__adAuthor:last-child {
        margin-right: 0;
    }


    .nuhavLayout__adAuthor:nth-child(5n) {
        margin-right: 0;
        margin-left: auto;
    }


    .mainHeader__logo {
        width: calc(16.65% - 25px);


        /*background-color: peru;*/
    }


    .mainHeader__logo:nth-child(1n) {


        /*background-color: peru;*/
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .mainHeader__logo:last-child {


        /*background-color: peru;*/
        margin-right: 0;
    }


    .mainHeader__logo:nth-child(6n) {


        /*background-color: peru;*/
        margin-right: 0;
        float: right;
    }


    .mainHeader__logo:nth-child(6n + 1) {


        /*background-color: peru;*/
        clear: both;
    }


    .mainHeader__menu {
        width: calc(33.3% - 20px);


        /*background-color: purple;*/
        margin-top: 15px;
    }


    .mainHeader__menu:nth-child(1n) {


        /*background-color: purple;*/
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .mainHeader__menu:last-child {


        /*background-color: purple;*/
        margin-right: 0;
    }


    .mainHeader__menu:nth-child(6n) {


        /*background-color: purple;*/
        margin-right: 0;
        float: right;
    }


    .mainHeader__menu:nth-child(6n + 1) {


        /*background-color: purple;*/
        clear: both;
    }


    .mainHeader__menu #mobilemenu {
            display: none;
    }


    .mainHeader__menu #menu-header {
            display: block;
    }


    .mainHeader__search {
        width: calc(49.95% - 15px);


        /*background-color: green;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        margin-top: 15px;
    }


    .mainHeader__search:nth-child(1n) {


        /*background-color: green;*/
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .mainHeader__search:last-child {


        /*background-color: green;*/
        margin-right: 0;
    }


    .mainHeader__search:nth-child(6n) {


        /*background-color: green;*/
        margin-right: 0;
        float: right;
    }


    .mainHeader__search:nth-child(6n + 1) {


        /*background-color: green;*/
        clear: both;
    }


    .mainHeader__login {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: calc(66.6% - 3.33333px);
            flex-basis: calc(66.6% - 3.33333px);
        max-width: calc(66.6% - 3.33333px);
        width: calc(66.6% - 3.33333px);
        text-align: left;
    }


    .mainHeader__login:nth-child(1n) {
        margin-right: 10px;
        margin-left: 0;
    }


    .mainHeader__login:last-child {
        margin-right: 0;
    }


    .mainHeader__login:nth-child(3n) {
        margin-right: 0;
        margin-left: auto;
    }


    .mainHeader__postAdd {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: calc(33.3% - 6.66667px);
            flex-basis: calc(33.3% - 6.66667px);
        max-width: calc(33.3% - 6.66667px);
        width: calc(33.3% - 6.66667px);
        text-align: right;
    }


    .mainHeader__postAdd:nth-child(1n) {
        margin-right: 10px;
        margin-left: 0;
    }


    .mainHeader__postAdd:last-child {
        margin-right: 0;
    }


    .mainHeader__postAdd:nth-child(3n) {
        margin-right: 0;
        margin-left: auto;
    }


    .mainContent__sell {
        width: calc(39.96% - 18px);
    }


    .mainContent__sell:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .mainContent__sell:last-child {
        margin-right: 0;
    }


    .mainContent__sell:nth-child(5n) {
        margin-right: 0;
        float: right;
    }


    .mainContent__sell:nth-child(5n + 1) {
        clear: both;
    }


    .mainContent__searchAd {
        width: calc(59.94% - 12px);
    }


    .mainContent__searchAd:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .mainContent__searchAd:last-child {
        margin-right: 0;
    }


    .mainContent__searchAd:nth-child(5n) {
        margin-right: 0;
        float: right;
    }


    .mainContent__searchAd:nth-child(5n + 1) {
        clear: both;
    }


    .footer__copyright {
        width: calc(49.95% - 15px);
        text-align: left;
    }


    .footer__copyright:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__copyright:last-child {
        margin-right: 0;
    }


    .footer__copyright:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .footer__copyright:nth-child(2n + 1) {
        clear: both;
    }


    .footer__copyright a {
        color: #76b445;
    }


    .footer__copyright a:hover {
        text-decoration: underline;
    }


    .footer__login {
        width: calc(49.95% - 15px);
        text-align: right;
    }


    .footer__login:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__login:last-child {
        margin-right: 0;
    }


    .footer__login:nth-child(2n) {
        margin-right: 0;
        float: right;
    }


    .footer__login:nth-child(2n + 1) {
        clear: both;
    }


    .footer__login a {
        color: #76b445;
    }


    .footer__login a:hover {
        text-decoration: underline;
    }


    .footer__col1 {
        width: calc(24.975% - 22.5px);
    }


    .footer__col1:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col1:last-child {
        margin-right: 0;
    }


    .footer__col1:nth-child(4n) {
        margin-right: 0;
        float: right;
    }


    .footer__col1:nth-child(4n + 1) {
        clear: both;
    }


    .footer__col2 {
        width: calc(24.975% - 22.5px);
    }


    .footer__col2:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col2:last-child {
        margin-right: 0;
    }


    .footer__col2:nth-child(4n) {
        margin-right: 0;
        float: right;
    }


    .footer__col2:nth-child(4n + 1) {
        clear: both;
    }


    .footer__col3 {
        width: calc(24.975% - 22.5px);
    }


    .footer__col3:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col3:last-child {
        margin-right: 0;
    }


    .footer__col3:nth-child(4n) {
        margin-right: 0;
        float: right;
    }


    .footer__col3:nth-child(4n + 1) {
        clear: both;
    }


    .footer__col4 {
        width: calc(24.975% - 22.5px);
    }


    .footer__col4:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }


    .footer__col4:last-child {
        margin-right: 0;
    }


    .footer__col4:nth-child(4n) {
        margin-right: 0;
        float: right;
    }


    .footer__col4:nth-child(4n + 1) {
        clear: both;
    }
}
